body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 36px;
    font-weight: bold;
}

h1 {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 40px;
}

#board {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 370px;
    height: 450px;
}

#keyboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
    width: 590px;
}

.letterContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    margin: 5px;
    border: 2px solid #d3d6da;
}

.keyboardLetterContainer,
.keyboardEnterLetterContainer,
.keyboardBackspaceLetterContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 49px;
    height: 55px;
    margin: 3px;
    font-size: 14px;
    border-radius: 6px;
    background-color: #D3D6DA;
}

.keyboardEnterLetterContainer {
    width: 85px;
}

.keyboardBackspaceLetterContainer {
    width: 60px;
}

.haveItInThatPossition {
    background-color: #6aaa64;
    color: #FFFFFF;
}

.haveItInOtherPossition {
    background-color: #c9b458;
    color: #FFFFFF;
}

.dontHaveIt {
    background-color: #787c7e;
    color: #FFFFFF;
}

#refreshButtonContainer {
    display: flex;
    justify-content: end;
    margin-top: 30px;
    width: 900px;
}

#refreshButton {
    width: 64px;
}

@media(max-width: 690px) {
    body {
        font-size: 30px;
        height: 100vh;
        display: flex;
        justify-content: space-evenly;
    }

    #refreshButtonContainer {
        width: 90vw;
    }

    h1 {
        margin-top: 15px;
        margin-bottom: 20px;
    }

    #keyboard {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: flex-end;
        margin-top: 20px;
        width: 345px
    }

    #board {
        width: 325px;
        height: 45vh;
    }

    .letterContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 45px;
        height: 45px;
        margin: 3px;
    }

    .keyboardLetterContainer {
        width: 29px;
        margin: 2px;
        margin-top: 4px;
        margin-bottom: 0px;
    }

    .keyboardEnterLetterContainer {
        width: 65px;
        margin: 0px;
    }

    .keyboardBackspaceLetterContainer {
        width: 40px;
        margin: 0px;
    }
}